.container {
	--content-width: 800px;
	--content-overflow: calc(var(--space-large) * 2);
	--content-width-alt: calc(var(--content-width) + var(--content-overflow));

	&.constrain {
		max-width: var(--content-width-alt);
		margin-left: auto;
		margin-right: auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl,
	pre,
	menu,
	figcaption,
	details,
	hr {
		max-width: var(--content-width);
		margin-left: auto;
		margin-right: auto;
	}

	blockquote,
	figure {
		max-width: var(--content-width-alt);
		margin-left: auto;
		margin-right: auto;
		margin-top: var(--space-large);
		margin-bottom: var(--space-large);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: var(--space-small);
		margin-bottom: var(--space-small);
		&:first-child {
			margin-top: var(--space-large);
		}
	}

	p {
		margin-top: 0.4em;
		margin-bottom: 1em;
	}

	ul,
	ol,
	dl {
		margin-top: var(--space-large);
		margin-bottom: var(--space-large);
		ul,
		ol,
		dl {
			margin-top: var(--space-tiny);
			margin-bottom: var(--space-small);
		}
		li,
		dd,
		dt {
			margin-top: var(--space-small);
			margin-bottom: var(--space-small);
		}
	}

	hr {
		margin-top: var(--space-large);
		margin-bottom: var(--space-large);
		border-color: var(--fg-alt);
		opacity: 0.25;
	}
}
