:root {
	--background: var(--light-background);
	--base: var(--light-base);
	--content-primary: var(--light-content-primary);
	--content-secondary: var(--light-content-secondary);

	--purple: var(--light-purple);
	--yellow: var(--light-yellow);
	--mint: var(--light-mint);

	/* Sizes */
	--layout-width: 1200px;
	--layout-gutter: var(--size-reg); // 20px
	--layout-margin: calc(var(--layout-gutter) * 2); // 40px
	--layout-maxwidth: calc(var(--layout-width) + calc(var(--layout-gutter) * 2));

	--transition: var(--transition-primary);

	/* Font */
	--font: var(--font-primary);
}

.light-mode {
	--background: var(--light-background);
	--base: var(--light-base);
	--content-primary: var(--light-content-primary);
	--content-secondary: var(--light-content-secondary);

	--purple: var(--light-purple);
	--yellow: var(--light-yellow);
	--mint: var(--light-mint);
}
.dark-mode {
	--background: var(--dark-background);
	--base: var(--dark-base);
	--content-primary: var(--dark-content-primary);
	--content-secondary: var(--dark-content-secondary);

	--purple: var(--dark-purple);
	--yellow: var(--dark-yellow);
	--mint: var(--dark-mint);
}
