@import "./normalize";

/*
	* Custom Normalize
*/

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@import "./custom_properties";
@import "./theme";
@import "./typography";
