:root {
	--font-primary: "Inter";
	--font-secondary: "Inter", "Inter";
	--font: var(--font-primary);

	--font-weight-reg: 400;
	--font-weight-medium: 600;
	--font-weight-bold: 800;

	--bg: var(--dark-surface-background);
	--bg-base: var(--dark-surface-base);

	--bg-red: var(--dark-surface-red);
	--bg-blue: var(--dark-surface-blue);
	--bg-green: var(--dark-surface-green);
	--bg-purple: var(--dark-surface-purple);
	--bg-yellow: var(--dark-surface-yellow);

	--fg: var(--dark-content-primary);
	--fg-content: var(--dark-content-secondary);
	--fg-detail: var(--dark-content-alternate);

	--fg-red: var(--dark-content-red);
	--fg-blue: var(--dark-content-blue);
	--fg-green: var(--dark-content-green);
	--fg-purple: var(--dark-content-purple);
	--fg-yellow: var(--dark-content-yellow);

	--bg-primary: var(--dark-surface-red);
	--fg-primary: var(--dark-content-red);

	/* Sizes */
	--layout-width: 1200px;
	--layout-gutter: var(--size-reg); // 20px
	--layout-margin: calc(var(--layout-gutter) * 2); // 40px
	--layout-maxwidth: calc(var(--layout-width) + calc(var(--layout-gutter) * 2));

	--transition: var(--transition-primary);
}
