/*
	* Text Weights
*/
@mixin FontWeightRegular() {
	font-weight: var(--font-weight-reg);
	bold,
	strong,
	b {
		font-weight: var(--font-weight-medium);
	}
}
@mixin FontWeightMedium() {
	font-weight: var(--font-weight-medium);
	bold,
	strong,
	b {
		font-weight: var(--font-weight-bold);
	}
}
@mixin FontWeightBold() {
	font-weight: var(--font-weight-bold);
	bold,
	strong,
	b {
		text-decoration: wavy;
	}
}

/*
	* Text Styles
*/
@mixin Hero_Large($lh: 1em) {
	font-size: var(--font-size-xxxlg);
	line-height: $lh;
	@include FontWeightBold();
}
@mixin Hero_Small($lh: 1em) {
	font-size: var(--font-size-xxlg);
	line-height: $lh;
	@include FontWeightMedium();
}

@mixin Title($lh: 1.2emem) {
	font-size: var(--font-size-xlg);
	line-height: $lh;
	@include FontWeightBold();
}

@mixin Headline_Large($lh: 1.2emem) {
	font-size: var(--font-size-lg);
	line-height: $lh;
	@include FontWeightBold();
}
@mixin Headline_Small($lh: 1.2emem) {
	font-size: var(--font-size-reg);
	line-height: $lh;
	@include FontWeightMedium();
}

@mixin Body_Large($lh: 2em) {
	font-size: var(--font-size-reg);
	line-height: $lh;
	@include FontWeightRegular();
}
@mixin Body_Small($lh: 2em) {
	font-size: var(--font-size-sm);
	line-height: $lh;
	@include FontWeightRegular();
}

@mixin Label($lh: 1.5em) {
	font-size: var(--font-size-xsm);
	line-height: $lh;
	letter-spacing: 0.04em;
	@include FontWeightRegular();
}
@mixin Caption($lh: 2em) {
	font-size: var(--font-size-xsm);
	line-height: $lh;
	@include FontWeightRegular();
}
