:root {
	--size-xxxxlg: 27.2rem;
	--size-xxxlg: 13.6rem;
	--size-xxlg: 8.4rem;
	--size-xlg: 5.2rem;
	--size-lg: 3.2rem;
	--size-reg: 2rem;
	--size-sm: 1.2rem;
	--size-xsm: 0.8rem;
	--size-xxsm: 0.4rem;

	--font-size-xxxxlg: 8.974rem;
	--font-size-xxxlg: 6.732rem;
	--font-size-xxlg: 5.05rem;
	--font-size-xlg: 3.789rem;
	--font-size-lg: 2.842rem;
	--font-size-reg: 2.132rem;
	--font-size-sm: 1.6rem;
	--font-size-xsm: 1.2rem;

	--radius-sm: 4px;
	--radius-reg: 8px;
	--radius-lg: 16px;
	--radius-full: 4000px;
}
