@import "./variables/colors";
@import "./variables/size";
@import "./variables/animation";
@import "./variables/theme";

@import "./base/normalize";
@import "./base/typography";

/*
	* Custom Normalize
*/

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*
	.light-mode
	When manually set to an element

	[color-scheme="light"]
	Whent the HTML element has a theme applied to it

	[data-theme="light"]
	When Next-Themes applies a data attribute to the <body/>
*/

.light-mode,
[color-scheme="light"],
[data-theme="light"] {
	color-scheme: light;

	--bg: var(--light-surface-background);
	--bg-base: var(--light-surface-base);

	--bg-red: var(--light-surface-red);
	--bg-blue: var(--light-surface-blue);
	--bg-green: var(--light-surface-green);
	--bg-purple: var(--light-surface-purple);
	--bg-yellow: var(--light-surface-yellow);

	--fg: var(--light-content-primary);
	--fg-content: var(--light-content-secondary);
	--fg-detail: var(--light-content-alternate);

	--fg-red: var(--light-content-red);
	--fg-blue: var(--light-content-blue);
	--fg-green: var(--light-content-green);
	--fg-purple: var(--light-content-purple);
	--fg-yellow: var(--light-content-yellow);

	--bg-primary: var(--light-surface-red);
	--fg-primary: var(--light-content-red);
}

.dark-mode,
[color-scheme="dark"],
[data-theme="dark"] {
	color-scheme: dark;

	--bg: var(--dark-surface-background);
	--bg-base: var(--dark-surface-base);

	--bg-red: var(--dark-surface-red);
	--bg-blue: var(--dark-surface-blue);
	--bg-green: var(--dark-surface-green);
	--bg-purple: var(--dark-surface-purple);
	--bg-yellow: var(--dark-surface-yellow);

	--fg: var(--dark-content-primary);
	--fg-content: var(--dark-content-secondary);
	--fg-detail: var(--dark-content-alternate);

	--fg-red: var(--dark-content-red);
	--fg-blue: var(--dark-content-blue);
	--fg-green: var(--dark-content-green);
	--fg-purple: var(--dark-content-purple);
	--fg-yellow: var(--dark-content-yellow);

	--bg-primary: var(--dark-surface-red);
	--fg-primary: var(--dark-content-red);
}
